.did_you_mean {
  color: #ce0832;
  font-weight: normal;
  font-family: lato;
  font-size: 16px;
}

.mailgun_address {
  font-style: italic;
  font-family: lato;
  font-size: 16px;
}

.mailgun_suggest {
  margin-top: 4px;
  margin-bottom: 1px;
}
